@model Modelos.DepartamentoModelo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DepartamentoModelo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisId)
        </dd>

    </dl>

    <p>Ciudades del departamento</p>
    <table class="table">
        @foreach (var item in Model.Ciudades)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCiudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartamentoId)
                </td>

            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
